
body {
    background-color: orange;
    background-repeat: no-repeat;
    /* overflow: hidden; */
    font-family: Arial, Helvetica, sans-serif;
    min-height: 0;
    min-width: 0;
    padding:4rem;
}

.container { 
    display: flex;
    justify-content:center; 
    flex-direction: column;
    padding: 3rem;
    
}

.container.inactive {
    opacity: 0.8; 
}


.text {
    align-self: center;
    font-size: 2rem;
    color: whitesmoke;
}

.buttons {
    align-self:center;
}

.button {
    margin: 2rem;
}

.slick-track {
    width:300px;
}

.yes {
    padding: 1rem;
    font-size: 2rem;
    border-radius:20px;
    color:orange;
    background-color: whitesmoke;
}

.images {
    width: 500px;
    height: 300px;
    visibility: hidden;
    align-self: center;
    flex-direction: row;
    object-fit: cover;
}

.slicker {
    width: auto;
}

#theLoveDiv{
    display: none;
}

#theLoveDiv.show {
    display:inline; 
    visibility: visible;
}

@media only screen and (max-width: 600px) {

    .text, .button {
        font-size: 2rem;
        font-size: 1rem;
    }

    .button {
        margin: 1rem;
    }
  }
    
    .images {
        width: 300px;
    }


