.albumStyle {
    padding: 2rem;
    width: 50%;
    height: 50%;
}

.card {
    padding: 1rem;
}

#introduction {
    text-align: center
}

.name {
    text-align: center;
    padding: 4rem;
}

.companyLogos {
    width: 3rem;
    height: 3rem;
}

body {
    background-color: wheat;
    padding-left: 8rem;
    padding-right: 8rem;
}

@media screen and (max-width: 600px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .albumStyle {
        padding: 2rem;
        height: 18rem;
        width: 18rem;
        /* align-content: center; */
    }
}